@import "tailwindcss";

@source "./index.html";
@source "./src/**/*.{js,ts,jsx,tsx}";

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  display: block;
}

:root {
  overflow-x: hidden;
}
